*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #ffe27e;
}
/* Navigation Section */

.navigation-section{
    background-color: #ffd52e;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
}

#navigation-heading{
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
}


.search-section{
    padding:10px 50px;
}
#search-section-heading{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin: 50px 0 30px;
    line-height: 50px;
}

blockquote{
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;
    font-style: italic;
}

cite{
    font-weight: 500;
}

.search-input-section{
    width:40%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin: 20px auto;
}
#searchInput{
 background-color:transparent; 
 flex-grow: 1;
 border:2px solid black;
 padding: 10px; 
 border-top-left-radius: 10px;
 border-bottom-left-radius: 10px;
 font-size: 16px;
}
#searchInput:focus{
    outline: none;
}
#searchInput::placeholder{
    color: black;
    font-size: 16px;
    font-style: italic;
}
#search-btn{
    padding: 10px 30px;
    border: 2px solid black;
    border-left: none;
    background-color: #ffd52e;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.fa-magnifying-glass{
    font-size: 20px;
}

#present-status{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;

}


/* Main section */
/* Recipe Display Section */
.recipe-display-section{
    text-align: center;
    font-size: 20px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    width:80%;
    margin: 10px auto;
    padding:20px;
    place-items: center;
}
.recipe{
    background-color: white;
    display: flex;
    flex-direction: column;
    color:black;
    border-radius:10px;
    box-shadow: 0 5px 10px rgba(78,73,73,0.1), -5px -5px 10px rgba(34,34,34,0.5);
    cursor: pointer;
    max-width: 350px;
}
.recipe:hover{
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}
.recipe img{
    height:300px;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
}

.recipe h3{
    font-size:24px;
    color:orangered;
    margin-top:10px;
    font-weight: 900;
    font-style: italic;
}
.recipe p{
    font-size: 16px;
    font-style: italic;
    color:orange;
    margin: 5px auto;
    font-weight: 700;
}
.functions{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.view-button{
    background-color:#ffd52e;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
    flex-grow: 1;
    margin-right: 10px;
}
.view-button:hover{
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.addToFavouritesBtn{

padding:0 10px;
}

/* Recipe Details Section */
.recipe-details-section{
    display: none;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color:white;
    -webkit-transform: translate(-50%,-50%);
    border-radius: 12px;
    width:40%;
    height:60%;
    font-size: 18px;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
}

.recipe-details-section::-webkit-scrollbar{
    width:10px;
}
.recipe-details-section::-webkit-scrollbar-thumb{
    background-color: #b5b5ba;
    border-radius: 16px;
    --webkit-border-radius:16px;
}

.recipe-details{
    padding: 30px;
}

.recipeName{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom:10px;
}

.ingredientsList{
    margin-bottom:10px;
    margin-left:20px
}

.instrcutions{
    line-height: 30px;
    white-space: pre-line;
}

.recipe-close-btn{
    border:none;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
    background-color: #f44336;
    color:white;
    position: absolute;
    top:20px;
    right:20px;
    width:30px;
    height:30px;
    display:flex;
    justify-content: center;
    align-items: center;
}
/* Favourites Section */
.favourites-section{
    position: fixed;
    right:0;
    top:0;
    width:300px;
    height: 100vh;
    background-color: #ffd52e;
    display: none;
}

.sectionHeader{
    background-color: #ffe27e;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

.favourites-close-btn {
    background-color: transparent;
}

.favourites-close-btn i{
    font-size: 16px;
}
.favourites-display-section{
    display: grid;
    grid-template-columns: 1fr;
    overflow: scroll;
    height: 100%;
    text-align: center;
}
.favourite{
    background-color: white;
    display: flex;
    flex-direction: column;
    color:black;
    border-radius:10px;
    box-shadow: 0 5px 10px rgba(78,73,73,0.1), -5px -5px 10px rgba(34,34,34,0.5);
    cursor: pointer;
    max-width: 250px;
    margin: 10px 0;
    height:480px;
    margin: 10px auto;
}

.favourite:hover{
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}
.favourite img{
    height:250px;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    flex-grow: 1;
}

.favourite h3{
    font-size:24px;
    color:orangered;
    margin-top:10px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
}
.favourites-display-section p{
    font-size: 16px;
    font-style: italic;
    color:black;
    margin: 5px auto;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;

}

.favourite .view-button,.remove-btn{
    background-color:#ffd52e;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
    flex-grow: 1;
    margin: 0 10px 10px;
}


